*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#navbtn{
    width:7em;
    height: auto;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 20px;

}
nav{
    display: flex;
    justify-content: space-between; /* Rata kiri-kanan */
    width: 60%; /* Bisa disesuaikan */
    margin: 0 auto; /* Supaya ada di tengah */
}
main{
    margin: 0%;
    padding: 0px;
}
#logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding: 4rem;
    text-align: center;
}
img{
    width: 6em;
    border-radius: 5px;
}
#timbul{
    background-color: rgb(244, 244, 244);
    width: 100vw;
    min-height: 300px;
    box-shadow: 10px 4px 10px 0px rgb(49, 49, 49);
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}